.dashboard ul li button:hover {
  font-weight: 800;
  transition: 0.3s ease-in-out;
}

.masonry-grid {
  column-count: 1;
  column-gap: 1rem;
}

@media (min-width: 576px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .masonry-grid {
    column-count: 3;
  }
}

.masonry-card {
  break-inside: avoid;
  margin-bottom: 1rem;
}

.dashboard {
  height: calc(
    100vh - 56px - 60px
  ); /* Adjust if Navbar/Footer height differs */
  overflow: hidden;
}

.sidebar {
  height: 100%;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.content {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}
