/* Import font family URL */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* Common Style - CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

/* Font family root */
:root {
  --roboto-condensed: "Roboto Condensed", sans-serif;
  --poppins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
  --dancing-script: "Dancing Script", cursive;
  --bg-color: linear-gradient(135deg, orangered, rgb(255, 255, 0));
}

/* --bg-color: #2f3640; */

body {
  font-family: var(--roboto-condensed);
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.question-table-custom-scroll {
  max-height: 475px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

.user-table-custom-scroll {
  max-height: 550px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffff orangered;
}

form button,
.btn-default {
  background-color: #fff !important;
  color: orangered !important;
  border: 0 !important;
}
.btn-default:hover {
  border: 1px solid #ffff !important;
}

form button:hover,
.btn-default:hover {
  background-color: orangered !important;
  color: #ffff !important;
}
