.contact-form-container {
  position: relative;
}

.contact-form .success-message {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

.contact-form .profile-pic {
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
}
.contact-form .profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
