.contact-form-container {
  position: relative;
}
.contact .card {
  transition: 0.3s ease;
}
.contact .card .card-header h4 {
  color: orangered !important;
}
.contact .card:hover {
  transform: rotate(5deg);
}
.contact form textarea {
  height: 130px;
  resize: none;
}

/* ============================
   Responsive: Small Devices 
   ============================ */

@media (max-width: 600px) {
  .contact-form-container{
    padding: 5px !important;
  }
}
