.demo-questions {
  width: 1200px;
}

.demo-questions form button {
  border: 1px solid orangered !important;
}

/* Hide default radio button */
.demo-questions .form-check-input {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid orangered; /* Default border */
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

/* When checked, change the background color */
.demo-questions .form-check-input:checked {
  background-color: orangered;
  border-color: orangered;
}

/* Add inner dot effect when checked */
.demo-questions .form-check-input:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.demo-questions .quiz-guidelines {
  background: var(--bg-color);
  /* background: url("../assets/images/demo-bg.jpg") center center/cover no-repeat; */
  position: relative;
  padding: 20px;
  color: #ffff;
  z-index: 1;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Adding the backdrop filter for blur effect */
.demo-questions .quiz-guidelines::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000002d;
  z-index: -1;
  pointer-events: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.demo-questions .single-question {
  transition: 0.3s ease-in-out;
}

.demo-questions .single-question:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
