.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  max-height: 700px;
}

.error-container .btn {
  background-color: orangered;
  border: 0;
  color: #ffff;
  border-radius: 50px;
}

.error-container .btn:hover {
  background-color: #fff;
  color: orangered;
}
