.faq .accordion-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.faq .accordion {
  width: 100%;
  height: auto;
}

.faq button:hover {
  border: 0;
}
