.page-header {
  height: 150px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  .page-header {
    height: fit-content;
    padding: 3px;
  }

}
