header {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    130deg,
    rgba(255, 68, 0, 0.541),
    rgba(255, 255, 0, 0.547)
  );
}

header p {
  font-size: 20px;
  margin-top: 20px;
  color: #ffffffb8;
}

.home-btn {
  width: 200px;
  height: 50px;
  background-color: #fff;
  color: orangered;
  border: 1px solid orangered;
  border-radius: 50px;
  font-weight: 500;
  margin-top: 20px;
}

button:hover {
  background-color: orangered;
  border: 1px solid #ffff;
  color: #ffff;
}

.feature {
  height: 700px;
  background-color: orangered;
}

.feature h1 {
  width: 70%;
  margin: 20px auto;
  font-weight: 500;
}

.feature .card {
  width: 280px;
  height: 280px;
  padding: 15px;
  background-color: #ffffff;
  border: 0;
  transition: 0.3s ease-in-out;
}
.feature .card:hover {
  transform: rotate(5deg);
}

.feature .card img {
  width: 50px;
}

.feature .card .card-header {
  margin-top: 25px;
  background-color: transparent;
  color: orangered;
}

.knowledge {
  height: 700px;
  background-color: #ffff;
  position: relative;
}

.knowledge .school-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.knowledge .school-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.knowledge h1 {
  color: orangered;
}

.knowledge p {
  font-size: 20px;
  color: #000;
}

.knowledge .home-btn {
  width: 200px;
  height: 50px;
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  margin-top: 20px;
}

.knowledge button:hover {
  background-color: #ffff;
  border: 1px solid orangered;
  color: orangered;
}

.experience {
  height: 800px;
  position: relative;
}

.experience p {
  font-size: 20px;
}

.experience .people-img {
  width: 1000px;
  height: 800px;
  position: absolute;
  top: 0px;
  right: 0;
}
.experience .people-img img {
  position: absolute;
  right: 0px;
  top: 80px;
}
