nav {
  background: orangered;
}

nav .logo {
  width: 70px;
  height: 70px;
}

nav .profile-pic {
  width: 40px;
  height: 40px;
}

nav .dropdown-menu {
  background-color: orangered;
  margin-top: 25px !important;
}

nav .profile-menu {
  margin-left: -60px;
  background-color: orangered;
  margin-top: 17px !important;
}
nav .dropdown-menu li {
  width: 90%;
}
nav .dropdown-menu li a,
nav .dropdown-menu li button {
  transition: 0.3s ease-in-out;
  color: #ffff;
}

nav .dropdown-menu li a:hover,
nav .dropdown-menu li button:hover {
  background-color: #ffff;
  color: orangered;
  margin-left: 10px;
  scale: 1.03;
}

.profile-initials {
  width: 40px;
  height: 40px;
  background-color: #ffff; /* Bootstrap gray */
  color: orangered;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.offcanvas-start {
  background: var(--bg-color);
}

@media (max-width: 768px) {
  nav .profile-menu {
    margin-left: 0px;
  }
}
