.poster {
  background-color: orangered;
  width: 100%;
  height: 200px;
  color: #ffff;
}

@media (max-width: 600px) {
  .poster div {
    width: 100% !important;
    text-align: center;
    padding: 10px 5px;
  }
}
