.price-details {
  height: 800px;
  position: relative;
}
.price-details .cards .card {
  width: auto;
  padding: 20px;
}
.price-details .cards .card .card-header {
  background-color: transparent;
}

.price-details .cards .card:hover {
  background: var(--bg-color);
  border: 1px solid #fff;
  color: #fff;
}
.price-details .cards .card:hover .card-body {
  border-top: 1px solid #fff;
}
.price-details .cards .card:hover button {
  background-color: #fff;
  color: orangered;
}

.price-details .card .card-body h5 {
  margin-bottom: 25px !important;
  font-size: 18px;
}
.price-details .card .card-header .text-muted {
  color: #d6d6d6 !important;
}

.price-details .card:hover .card-header .text-muted {
  color: #ffff !important;
}

.price-details .card button {
  background: orangered;
  border: none;
  color: #ffff;
  padding: 10px;
  font-weight: 600;
}

.price-details .card button:hover {
  background-color: orangered !important;
  color: #ffff !important;
}

.offer-img {
  position: absolute;
  width: 150px !important;
  z-index: 1;
  top: 150px !important;
  left: 900px;
}

.offer-img img {
  width: 100%;
  animation: verticalShake 1s ease-in-out infinite;
}

@keyframes verticalShake {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-5px);
  }
  30% {
    transform: translateY(5px);
  }
  45% {
    transform: translateY(-4px);
  }
  60% {
    transform: translateY(4px);
  }
  75% {
    transform: translateY(-2px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ============================
   Responsive: Medium Devices 
   ============================ */

@media (max-width: 1024px) {
  .price-details {
    height: auto;
    width: 100%;
  }

  .price-details .price-card {
    padding: 0 !important;
  }
}

@media (min-width: 380px) {
  .offer-img {
    position: absolute !important;
    width: 110px !important;
    z-index: 1;
    top: 610px;
    right: 10px;
  }
}
