.question-tab-link {
  color: #000 !important;
  width: 200px;
}
.question-tab-link.active {
  background-color: orangered !important;
}
.question-tab-link:hover {
  color: #fff;
}
.question-tab-link.active {
  color: #ffff !important;
}

.add-question-form {
  width: 650px;
  height: auto;
  background-color: #ffffff3c !important;
  margin: 0 auto;
}

.upload-method {
  width: 200px;
  margin: 0 auto;
}
