.register {
  width: 100%;
  height: 100vh;
  max-height: 800px;
  overflow-y: hidden;
  background-color: #ffff;
}

.register img {
  width: 1125px;
  height: 150vh;
  max-height: 100vh;
  transform: rotate(180deg);
  top: 0;
  left: 0;
  position: absolute;
  overflow-y: hidden;
  object-fit: fill;
  z-index: 1;
}

.register-form-container {
  width: 45%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.register-form-container form {
  width: 700px !important;
  height: auto;
  margin-top: 10px;
}

.register-card {
  width: 550px;
  height: 650px;
  position: absolute;
  top: 50px;
  right: 20px;
  text-align: center;
  padding: 25px;
  z-index: 0;
  border-radius: 15px;
  overflow: hidden;
}

.register-card h1,
.register-card p {
  color: rgb(222, 144, 0) !important;
}

.register-card .image {
  width: 50px !important;
  height: 50px !important;
}

.register-card .image img {
  width: 40%;
  height: 40%;
  margin-top: 150px;
  margin-left: 150px;
  transform: rotate(0deg);
}

.password-popover {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 5px;
}

.password-popover ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.password-popover li {
  font-size: 14px;
  color: red;
  margin-bottom: 5px;
}
/* ============================
   Responsive: Medium Devices 
   ============================ */
@media (max-width: 1024px) {
  .register {
    background: var(--bg-color);
  }
  .register-card {
    width: 100%;
    right: 50%;
    top: 80%;
    transform: translateX(50%);
    margin: 0 auto;
    background-color: #fff;
  }

  .register-form-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10 !important;
  }

  .register img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: none;
  }

  .register-card .image {
    display: none;
  }

  .register-card h1,
  .register-card p {
    margin: 10px 0 !important;
  }
}

/* ============================
   Responsive: Small Devices 
   ============================ */
@media (max-width: 600px) {
  .register {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }

  .register .bg-img {
    display: none !important;
  }

  .register-form-container {
    height: 100vh;
    width: 100%;
  }
  .register-form-container p {
    margin: 15px !important;
  }

  .register-form-container form {
    width: 100% !important;
    margin-top: 10px;
    height: 100vh !important;
  }

  .register-card {
    width: 100%;
    height: auto;
    top: 950px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    background-color: #ffff;
  }

  .register-card h1,
  .register-card p {
    font-size: 18px;
    margin: 10px 0 !important;
  }

  .register-card .image {
    width: 40px !important;
    height: 40px !important;
    display: none;
  }

  .register-card .image img {
    width: 40%;
    height: 40%;
    margin: 0 auto;
    display: block;
    transform: rotate(0deg);
    display: none;
  }
}
